In [1]:
import pandas as pd
import numpy as np

In [12]:
# TIMES
rng = pd.date_range(start = '2016 Jul 15 10:15', end = '2016 Jul 25', freq = 'BH')
rng

DatetimeIndex(['2016-07-15 10:15:00', '2016-07-15 11:15:00',
               '2016-07-15 12:15:00', '2016-07-15 13:15:00',
               '2016-07-15 14:15:00', '2016-07-15 15:15:00',
               '2016-07-15 16:15:00', '2016-07-18 09:15:00',
               '2016-07-18 10:15:00', '2016-07-18 11:15:00',
               '2016-07-18 12:15:00', '2016-07-18 13:15:00',
               '2016-07-18 14:15:00', '2016-07-18 15:15:00',
               '2016-07-18 16:15:00', '2016-07-19 09:15:00',
               '2016-07-19 10:15:00', '2016-07-19 11:15:00',
               '2016-07-19 12:15:00', '2016-07-19 13:15:00',
               '2016-07-19 14:15:00', '2016-07-19 15:15:00',
               '2016-07-19 16:15:00', '2016-07-20 09:15:00',
               '2016-07-20 10:15:00', '2016-07-20 11:15:00',
               '2016-07-20 12:15:00', '2016-07-20 13:15:00',
               '2016-07-20 14:15:00', '2016-07-20 15:15:00',
               '2016-07-20 16:15:00', '2016-07-21 09:15:00',
               '2016-07-21 10:15:00', '2016-07-21 11:15:00',
               '2016-07-21 12:15:00', '2016-07-21 13:15:00',
               '2016-07-21 14:15:00', '2016-07-21 15:15:00',
               '2016-07-21 16:15:00', '2016-07-22 09:15:00',
               '2016-07-22 10:15:00', '2016-07-22 11:15:00',
               '2016-07-22 12:15:00', '2016-07-22 13:15:00',
               '2016-07-22 14:15:00', '2016-07-22 15:15:00',
               '2016-07-22 16:15:00'],
              dtype='datetime64[ns]', freq='BH')

In [3]:
# Which of these formats DON'T work?
#'2016 Jul 1', '7/1/2016', '1/7/2016', 'July 1, 2016', '2016-07-01', '2016/07/01'

In [21]:
rng = pd.date_range(start = '2016-07-01', periods =10, freq = 'BH')
rng
## All of them work

DatetimeIndex(['2016-07-01 09:00:00', '2016-07-01 10:00:00',
               '2016-07-01 11:00:00', '2016-07-01 12:00:00',
               '2016-07-01 13:00:00', '2016-07-01 14:00:00',
               '2016-07-01 15:00:00', '2016-07-01 16:00:00',
               '2016-07-04 09:00:00', '2016-07-04 10:00:00'],
              dtype='datetime64[ns]', freq='BH')

In [4]:
# Is '7/1/2016 in January or July?
#7/1/2016 is July, it's a North-American set-up

In [23]:
# What is the class of an individual object held in the date_range?
type(rng[0])

pandas.tslib.Timestamp

In [24]:
# TIME STAMPS VS TIME SPANS
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [25]:
# You can also more details 
pd.Timestamp('2016-07-10 10')

Timestamp('2016-07-10 10:00:00')

In [26]:
# Or even more...
pd.Timestamp('2016-07-10 10:15')

Timestamp('2016-07-10 10:15:00')

In [27]:
# How much detail can you add?
## 9 digits - up to nanoseconds and can give data up to 584 years

In [29]:
# What are some properties of timestamps? Try them out.
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components
## properties of timestamps include detailed information regarding the period frequency
t = pd.Timestamp('2016-07-10 10:15')

In [30]:
# TIME SPANS
pd.Period('2016-01')

Period('2016-01', 'M')

In [31]:
# What's that extra info above? How does it get set?
## the added information is the period. It comes from the lowest level of granularity of the input. In the example above, the 
## lowest level of granularity is month, therefore the period is M for month

In [32]:
pd.Period('2016-01-01')

Period('2016-01-01', 'D')

In [33]:
pd.Period('2016-01-01 10')

Period('2016-01-01 10:00', 'H')

In [34]:
pd.Period('2016-01-01 10:10')

Period('2016-01-01 10:10', 'T')

In [35]:
pd.Period('2016-01-01 10:10:10')

Period('2016-01-01 10:10:10', 'S')

In [36]:
# What's the most detailed Period you can get?
## Can go all the way down to nanoseconds

In [37]:
# How can you make multiple time periods? 
# Hint look for analogy with pd.date_range() above

## pd.period_range()

In [38]:
# TIME OFFSETS
pd.Timedelta('1 day')

Timedelta('1 days 00:00:00')

In [39]:
pd.Period('2016-01-01 10:10') + pd.Timedelta('1 day')

Period('2016-01-02 10:10', 'T')

In [40]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('1 day')

Timestamp('2016-01-02 10:10:00')

In [41]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('15 ns')

Timestamp('2016-01-01 10:10:00.000000015')

In [42]:
# FANCY FREQUENCY SETTING
# Only want business days
pd.period_range('2016-01-01 10:10', freq = 'B', periods = 10)

PeriodIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
             '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
             '2016-01-13', '2016-01-14'],
            dtype='int64', freq='B')

In [43]:
# It's possible to combine frequencies. What if you want to advance by 25 hours each day. What are the 2 ways to do it?
p1 = pd.period_range('2016-01-01 10:10', freq = '25H', periods = 10)

In [44]:
p2 = pd.period_range('2016-01-01 10:10', freq = '1D1H', periods = 10)

In [45]:
p1

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='int64', freq='25H')

In [46]:
p2

PeriodIndex(['1971-12-02 01:00', '1971-12-02 02:00', '1971-12-02 03:00',
             '1971-12-02 04:00', '1971-12-02 05:00', '1971-12-02 06:00',
             '1971-12-02 07:00', '1971-12-02 08:00', '1971-12-02 09:00',
             '1971-12-02 10:00'],
            dtype='int64', freq='25H')

In [64]:
# What are some other combos you can produce?
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases
p3 = pd.date_range(start= '06/01/2014', periods=10, freq='2h20min')
p3

DatetimeIndex(['2014-06-01 00:00:00', '2014-06-01 02:20:00',
               '2014-06-01 04:40:00', '2014-06-01 07:00:00',
               '2014-06-01 09:20:00', '2014-06-01 11:40:00',
               '2014-06-01 14:00:00', '2014-06-01 16:20:00',
               '2014-06-01 18:40:00', '2014-06-01 21:00:00'],
              dtype='datetime64[ns]', freq='140T')

In [76]:
# How can yo udetermine whether a timestamp falls within a given period?
p = pd.Period('2016-07')

p

Period('2016-07', 'M')

In [83]:
p.start_time

Timestamp('2016-07-01 00:00:00')

In [84]:
p.end_time

Timestamp('2016-07-31 23:59:59.999999999')

In [85]:
t = pd.Timestamp('July 21, 2016')

In [86]:
p.start_time < t

True

In [87]:
p.end_time > t

True

In [ ]:
num_periods = 40
ta_dt = pd.Series(range(num_periods), pd.date_range('2016-07-01 11:15', freq = '2H'))

In [48]:
# INDEXING WITH TIME OBJECTS
# You can use these objects for indices
# Let's start with using a date range as above
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng
pd.Series(range(len(rng)), index = rng)

2016-07-01    0
2016-07-02    1
2016-07-03    2
2016-07-04    3
2016-07-05    4
2016-07-06    5
2016-07-07    6
2016-07-08    7
2016-07-09    8
2016-07-10    9
Freq: D, dtype: int64

In [56]:
# You can also use time period indices, in cases where it makes more sense 
# to think about your index as a time span rather than a single point in time

periods = [pd.Period('2016-01'), pd.Period('2016-02'), pd.Period('2016-03')]
ts = pd.Series(np.random.randn(len(periods)), index = periods)
ts

2016-01    1.257946
2016-02   -0.753157
2016-03    1.720362
Freq: M, dtype: float64

In [57]:
# What type is the index for ts?
type(ts.index)

pandas.tseries.period.PeriodIndex

In [61]:
# Experiment with various indices
# Hint: does ts['2016'] work? 
ts['2016']

2016-07-10 08:00:00    0
2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int64

In [59]:
# Timestamped data can be convereted to period indices with to_period and vice versa with to_timestamp
ts = pd.Series(range(10), pd.date_range('07-10-16 8:00', periods = 10, freq = 'H'))
ts

2016-07-10 08:00:00    0
2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int64

In [60]:
ts_period = ts.to_period()
ts_period

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int64

In [54]:
ts_period['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of overlap with time periods

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
Freq: H, dtype: int64

In [55]:
ts['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of include with timestamps

2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
Freq: H, dtype: int64

In [88]:
pd.to_datetime('4/3/2016', dayfirst =True)

Timestamp('2016-03-04 00:00:00')

In [102]:
pd.to_datetime('4/3/2016', dayfirst =True).strftime(format = '%y-%m-%d')

'16-03-04'